<h6>PROYECTOS:</h6>
<div class="proyectos">

  <div id="div-pro">
    <p>Proyecto final de Angular en Incluit:</p>
    <a class="pro" href="https://calderazzi.github.io/material-users/" target="_blank" rel="noopener noreferrer">Proyecto Final Incluit</a>
    <p>Proyecto final de Javascript consumiendo api de mercado libre:</p>
    <a class="pro" href="https://calderazzi.github.io/proyectoFinal/" target="_blank" rel="noopener noreferrer">Proyecto Final Coderhouse</a>
    <p>Proyecto para Salón de Fiestas:</p>
    <a class="pro" href="https://calderazzi.github.io/taurum/" target="_blank" rel="noopener noreferrer">Salón Taurum</a>
    <p>Proyecto inicial de Javascript para coderhouse:</p>
    <a class="pro" href="https://calderazzi.github.io/simulador/" target="_blank" rel="noopener noreferrer">Proyecto Coderhouse</a>
    <P>Proyecto para Manicura:</P>
    <a class="pro" href="http://manicura-barbara.ga" target="_blank" rel="noopener noreferrer">Manicura Barbara</a>
    <p>Proyecto venta de articulos varios:</p>
    <a class="pro" href="https://calderazzi.github.io/viva-la-frida/" target="_blank" rel="noopener noreferrer">Viva la frida</a>
    <p>Proyecto de masajes y afines:</p>
    <a class="pro" href="https://calderazzi.github.io/Masajes/" target="_blank" rel="noopener noreferrer">Masajes Leti</a>
  </div>
</div>
<div class="example-button-container">
  <button  routerLink="/home" mat-fab color="warn" aria-label="Example icon button with a home icon">
    <mat-icon>home</mat-icon>
  </button>