.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  text-align: center;
}

.mat-card {
  background-color: rgb(96, 95, 95);
  color: white;
  border-radius: 15px;
}

h3 {
  font-size: 30px;

}

.html {
  width: 160px;
  position: absolute;
  animation: entra1 2s;
  top: 7%;
  left: 8vw;
}
@keyframes entra1 {
  0% {
    left: -50vw;
  }
  50% {
    left: -10vw;
  }
  100% {
    left: 8vw;
  }
}
.css {
  width: 160px;
  position: absolute;
  animation: entra2 5s;
  left: 25vw;
  top: 7%;
}
@keyframes entra2 {
  0% {
    left: -50vw;
  }
  50% {
    left: -10vw;
  }
  100% {
    left: 25vw;
  }
}

.js {
  width: 150px;
  position: absolute;
  animation: entra3 10s;
  left: 42vw;
  top: 7%;
  border-radius: 10px;
}
@keyframes entra3 {
  0% {
    left: -70vw;
  }
  50% {
    left: -20vw;
  }
  100% {
    left: 42vw;
  }
}

.angular {
  width: 150px;
  position: absolute;
  animation: entra4 17s;
  left: 60vw;
  top: 7%;
}
@keyframes entra4 {
  0% {
    left: -50vw;
  }
  50% {
    left: -20vw;
  }
  100% {
    left: 60vw;
  }
}

.git {
  width: 150px;
  position: absolute;
  animation: entra5 2s;
  left: 8vw;
  top: 23%;
}
@keyframes entra5 {
  0% {
    left: -70vw;
  }
  50% {
    left: -20vw;
  }
  100% {
    left: 8vw;
  }
}

.github {
  width: 130px;
  position: absolute;
  animation: entra6 5s;
  left: 25vw;
  top: 23%;
}
@keyframes entra6 {
  0% {
    left: -50vw;
  }
  50% {
    left: -10vw;
  }
  100% {
    left: 25vw;
  }
}

.bootstrap {
  width: 150px;
  position: absolute;
  animation: entra7 10s;
  left: 42vw;
  top: 23%;
}
@keyframes entra7 {
  0% {
    left: -70vw;
  }
  50% {
    left: -20vw;
  }
  100% {
    left: 42vw;
  }
}

.material {
  width: 150px;
  position: absolute;
  animation: entra8 17s;
  left: 60vw;
  top: 23%;
  border-radius: 10px;
}
@keyframes entra8 {
  0% {
    left: -50vw;
  }
  50% {
    left: -20vw;
  }
  100% {
    left: 60vw;
  }
}

@media only screen and (max-width: 1000px) {
  .grid-container {
    margin: 0;
  }

  .html, .css, .js, .angular, .git, .github, .bootstrap, .material {
    width: 100px;
  }

}

@media only screen and (max-width: 750px) {
  .angular {
    animation: entra4 17s;
    left: 15vw;
    top: 40%;
  }
  @keyframes entra4 {
    0% {
      left: -50vw;
    }
    50% {
      left: -20vw;
    }
    100% {
      left: 15vw;
    }
  }

  .material {
    animation: entra8 17s;
    left: 35vw;
    top: 40%;
    border-radius: 10px;
  }
  @keyframes entra8 {
    0% {
      left: -50vw;
    }
    50% {
      left: -20vw;
    }
    100% {
      left: 35vw;
    }
  }
}

@media only screen and (max-width: 625px) {
  h3 {
    font-size: 20px;
  }
  .html {
    animation: entra1 2s;
    left: 10vw;
    top: 6%;
  }
  @keyframes entra1 {
    0% {
      left: -50vw;
    }
    50% {
      left: -10vw;
    }
    100% {
      left: 5vw;
    }
  }
  .css {
    animation: entra2 7s;
    left: 45vw;
    top: 6%;
    margin: 0;
  }
  @keyframes entra2 {
    0% {
      left: -70vw;
    }
    50% {
      left: -30vw;
    }
    100% {
      left: 45vw;
    }
  }
  
  .js {
    animation: entra3 2s;
    left: 10vw;
    top: 20%;
    border-radius: 10px;
  }
  @keyframes entra3 {
    0% {
      left: -70vw;
    }
    50% {
      left: -20vw;
    }
    100% {
      left: 10vw;
    }
  }
  
  .angular {
    animation: entra4 7s;
    left: 45vw;
    top: 20%;
  }
  @keyframes entra4 {
    0% {
      left: -70vw;
    }
    50% {
      left: -30vw;
    }
    100% {
      left: 45vw;
    }
  }
  
  .git {
    animation: entra5 2s;
    left: 10vw;
    top: 39%;
  }
  @keyframes entra5 {
    0% {
      left: -70vw;
    }
    50% {
      left: -20vw;
    }
    100% {
      left: 10vw;
    }
  }
  
  .github {
    animation: entra6 7s;
    left: 45vw;
    top: 37%;
  }
  @keyframes entra6 {
    0% {
      left: -70vw;
    }
    50% {
      left: -30vw;
    }
    100% {
      left: 45vw;
    }
  }
  
  .bootstrap {
    animation: entra7 2s;
    left: 10vw;
    top: 52%;
  }
  @keyframes entra7 {
    0% {
      left: -70vw;
    }
    50% {
      left: -20vw;
    }
    100% {
      left: 10vw;
    }
  }
  
  .material {
    animation: entra8 7s;
    left: 45vw;
    top: 53%;
    border-radius: 10px;
  }
  @keyframes entra8 {
    0% {
      left: -70vw;
    }
    50% {
      left: -30vw;
    }
    100% {
      left: 45vw;
    }
  }
  
}