<div class="grid-container">
  <mat-grid-list cols="2">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h3 class="subTitulo">Tecnologías:</h3><br>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <img src="./assets/img/html.png" alt="logo html" class="html">
          <img src="./assets/img/css.png" alt="logo css" class="css">
          <img src="./assets/img/js.jpg" alt="logo js" class="js">
          <img src="./assets/img/angular.png" alt="logo angular" class="angular">
          <img src="./assets/img/git.png" alt="logo git" class="git">
          <img src="./assets/img/github.png" alt="logo github" class="github">
          <img src="./assets/img/bootstrap.png" alt="logo bootstrap" class="bootstrap">
          <img src="./assets/img/material.png" alt="logo material" class="material">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
