<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu:</mat-toolbar>
    <mat-nav-list>
      <a class="list" mat-list-item routerLink="/certificado">Certificado JS</a>
      <a class="list" mat-list-item routerLink="/sobreMi">Sobre Mi</a>
      <a class="list" mat-list-item routerLink="/proyectos">Proyectos</a>
      <a class="list" mat-list-item routerLink="/contacto">Contacto</a>
    </mat-nav-list>
    <hr>
    <p class="creado">Este portfolio fue creado con Angular</p>
    <hr>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img class="yo"  src="./assets/img/yo.jpg" alt="foto Wilson Calderazzi">
      <span class="spacer"></span>
      <h1>Wilson Calderazzi</h1>
      <h2>Frontend Developer</h2>
      <span class="spacer"></span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
