
<div class="grid-container">
  <mat-grid-list cols="2">
    <mat-card-title>
      <h3 class="subTitulo">Sobre mi:</h3><br>
    </mat-card-title>
    <mat-card-content class="dashboard-card-content">
      <div class="sobreMi">Tengo conocimientos en:
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>JAVASCRIPT</li>
          <li>GIT</li>
          <li>GITHUB</li>
          <li>ANGULAR</li>
          <li>BOOTSTRAP</li>
          <li>ANGULAR MATERIAL</li>
          <li>INGLES TÉCNICO</li>
        </ul>
        Actualmente estoy estudiando programación orientada a objetos en el centro de educación técnico profesional de Catamarca (C++ y python), también sql y power BI como autodidacta. Estoy interesado en trabajar en algún área de tecnología en donde pueda aplicar mis conocimientos mientras sigo estudiando y perfeccionandome, también si la empresa tiene capacitaciones estoy dispuesto a tomarlas para mejorar mis habilidades y poder brindar las soluciones a sus problemas. Soy autodidacta y me gustan los desafíos y si no encuentro la solución a un problema, busco por todos los medios la solución. Me gusta ayudar a mis compañeros cuando no logran comprender algún código y estoy listo para aportar mis conocimientos al grupo de trabajo del que participe. 
      </div>
    </mat-card-content>
  </mat-grid-list>
  <div class="example-button-container">
    <button  routerLink="/home" mat-fab color="warn" aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>
</div>